.cart-body {
    position: relative;
    margin: 25px auto;
    max-width: 50%;
    min-width: 600px;
    overflow-y: hidden;
}

.cart-item-card {
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
    min-height: 175px;
    min-width: 550px;
}

.cart-item-card-img {
    padding: 0.1%;
    float: left;
    width: 150px;
    height: 150px;
}

.cart-item-card-info {
    margin: 0 16px;
    display: inline-block;
    width: calc(100% - 300px);
    max-width: calc(100% - 300px);
}

.cart-item-card-info > p {
    min-height: 48px;
}

.cart-item-card-info-price {
    float: right;
}

.cart-item-card-quantity {
    float: right;
    max-width: 20%;
    min-width: 100px;
}

.cart-item-card-delete {
    margin-right: 5px;
}

.cart-footer {
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
    float: right;
    min-width: 200px;
}

.cart-footer-total {
    position: absolute;
    top: calc(50% + 9px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    float: left;
}

.cart-footer-pay {
    margin-right: 5px;
    float: right;
}