.cart-body {
    position: relative;
    margin: 25px auto;
    max-width: 50%;
    overflow-y: hidden;
}

.cart-item-card {
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
    min-height: 175px;
}

.cart-item-card-img {
    padding: 0.1%;
    float: left;
    width: 150px;
    height: 150px;
}

.cart-item-card-info {
    margin: 0 16px;
    display: inline-block;
    width: calc(100% - 200px);
    max-width: calc(100% - 200px);
}

.cart-item-card-info > p {
    min-height: 48px;
}

.cart-item-card-info-price {
    text-align: right;
}

.cart-item-card-delete {
    margin-left: 20px;
    float: right;
    max-width: 20%;
}

.cart-footer {
    padding: 1% 1% 1% 1%;
    margin: 1% 1% 1% 1%;
    float: right;
    min-width: 225px;
}

.cart-total {
    padding: 1% 1% 1% 1%;
    float: left;
}

.cart-pay {
    margin-right: 5px;
    float: right;
}