<div class="container-fluid" style="padding-top: 80px;">
    <div class="navbar-sticky fixed-top" style="background-color:#996600;">
        <div class="row">
            <h3 class="head-title">SightSource</h3>
        </div>
        <div class="row">
            <div class="col-sm-1">
            </div>
        <div class="col-sm-1">
            <button class="btn btn-toolbar" name="home">
                <a [routerLink]="['']">
                    Home
                </a>
            </button>
        </div>
        <div class="col-sm-1">
            <button class="btn btn-toolbar" name="browse">
                <a [routerLink]="['browse']">
                    Browse
                </a>
            </button>
        </div>
        <div class="col-sm-5">
        </div>
        <div class="col-sm-4">
            <div class="input-group-append">
                <div class="form-outline">
                    <input class="form-control" type="search" placeholder="search" id="search" [(ngModel)]="this.search">
                </div>
                <span class="input-group-append pull-right">
                    <button class="btn btn-default btn-xs pull-right" type="button">
                        <a [routerLink]="['browse']" [queryParams]="{searchVal: this.search}">
                            <fa-icon [icon]="faSearch"></fa-icon>
                        </a>
                    </button>
                </span>
                <button class="btn btn-default pull-right" type="button" style="margin-left:3%">
                    <a [routerLink]="['cart']">
                        <fa-icon [icon]="faShoppingCart"></fa-icon>
                    </a>
                </button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<script>window.__theme = 'bs4';</script>