.detail-body {
    position: relative;
    margin: 25px auto;
    max-width: 80%;
    min-width: 600px;
    overflow-y: hidden;
}

.detail-tour-img-content {
    float: left;
    max-width: 500px;
}

.detail-tour-img {
    height: 500px;
    width: 500px;
    margin-bottom: 5%;
}

.detail-tour-related {
    width: 200px;
    height: 250px;
    position: relative;
    display: inline-block !important;
    margin: 1% 5% 1% 5%;
}

.detail-tour-related-card {
    width: 200px;
    height: 250px;
}

.detail-tour-related-card-img {
    width: 200px;
    height: 200px;
}

.detail-tour-related-location {
    float: left;
}

.detail-tour-related-price {
    float: right;
}

.detail-tour-contents {
    display: inline-block;
    width: calc(100% - 500px - 32px);
}

.detail-tour-title {
    margin: 0 32px;
}

.detail-tour-option-bar {
    max-width: 50%;
    margin: 0 16px;
    display: table;
    table-layout: fixed;
    border-spacing: 16px;
}

.detail-tour-option-date {
    display: table-cell;
}

.detail-tour-option-price {
    display: table-cell;
}

.detail-tour-option-add {
    display: table-cell;
}

.detail-tour-description {
    margin: 0 32px;
}