<ng-container *ngIf="tour">
    <div class="detail-body">
        <div class="detail-tour-img-content">
            <img class="detail-tour-img" src={{tour.thumbnail}}/>
            <br>
            <div class="detail-tour-related">
                <mat-card class="detail-tour-related-card" *ngFor="let relatedTour of relatedTours">
                    <img mat-card-image src="relatedTour.thumbnail" />
                    <mat-card-content>
                        <div class="detail-tour-related-location">
                            {{ countries[relatedTour.countryId - 1] }}
                        </div>
                        <div class="detail-tour-related-price">
                            {{ getFormattedPrice(relatedTour.price) }}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="detail-tour-contents">
            <div class="detail-tour-title">
                <h1>
                    {{tour.tour}}
                </h1>
            </div>
            
            <div class="detail-tour-option-bar">
                <input class="detail-tour-option-date"
                        placeholder="datepicker"
                        type="text"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }"
                        [(ngModel)]="date"
                        (ngModelChange)="setTourDate($event)"
                >

                <div class="detail-tour-option-price">
                    {{ getFormattedPrice(tour.price) }}
                </div>
                <div class="detail-tour-option-add">
                    <button mat-button class="btn btn-primary" (click)="addTourToCart();" [routerLink]="['../../cart']">
                        Add to Cart
                    </button>
                </div>
            </div>
    
            <div class="detail-tour-description">
                {{tour.description}}
            </div>
        </div>
    </div>
</ng-container>