<div style="width: 80%; height: 90%; margin:auto auto;"></div>

<div class="btn-group" dropdown [insideClick]="true">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Button dropdown
    <span class="caret"></span>
  </button>
  <div class="dropdown-menu" *dropdownMenu>
    <label for="locations">
      Location:
    </label>
    <select class="dropdown-item" name="locations" id="locations" >
      <!--<option *ngFor="let location of locations; let i = index" value={{location.name}}>{{location.name}}</option>
      -->
    </select>
    <a class="dropdown-item">
      Action
    </a>
    <a class="dropdown-item" href="#">
      Another action
    </a>
    <a class="dropdown-item" href="#">
      Something else here
    </a>
  </div>
</div>

<div class="btn-group" dropdown [insideClick]="true">
  <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
    Button dropdown
    <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem">
      <a class="dropdown-item" >
        Action
      </a>
    </li>

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        Another action
      </a>
    </li>

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        Something else here
      </a>
    </li>

    <li class="divider dropdown-divider">

    </li>

    <li role="menuitem">
      <a class="dropdown-item" href="#">
        Separated link
      </a>
    </li>
  </ul>
</div>

<div class="row" style="margin-top:20px;">
  <div *ngFor="let tour of tours; let i = index">
    <div class="clearfix" *ngIf="i % 4 ==0"></div>

    <div class="col-md-3">
      <div class="card-horizontal tour-card">
        <img src={{tour.img}} />
        <div class="row">
          <h3 class="card-title tour-card-title">
            {{tour.tour}}
          </h3>
        </div>
        <div class="row">
          <div class="col">
            <h3 class="card-title">
              {{tour.price}}
            </h3>
          </div>
          <div class="col">
            <h3 class="card-title">
              {{tour.duration}}
            </h3>
          </div>    
        </div>
        <div class="card-body">
          <p class="card-text tour-card-description">
            {{tour.description}}
          </p>
        </div>
        <a href="#" class="btn btn-primary " [routerLink]="['../detail', tour.id]">
          Learn More!
        </a>
      </div>
    </div>
  </div>
</div>