
<div style="width: 80%; height: 90%; margin:auto auto;">
</div>


<div class="btn-group" dropdown [insideClick]="true">
    <button 
        id="button-nested"
        dropdownToggle type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-nested">
        Filter
        <span class="caret"></span>
    </button>
    <ul 
        id="dropdown-nested"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-nested">
        <li role="menuitem" dropdown triggers="onclick" placement="bottom right" container="body">
            <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">Country
                <span class="caret"></span>
            </a>
            <ul *dropdownMenu  class="list-group" role="menu">
                <li  role="menuitem" class="list-group-item">
                    <input  class="dropdown-item" type="checkbox" [(ngModel)]="allSelected" name="list_name" value="m1" (change)="checkOrUncheckAll()" />
                    <strong>
                        All
                    </strong>
                </li>
                <li role="menuitem" class="list-group-item " *ngFor="let item of items" >
                    <input  class="dropdown-item" type="checkbox" [(ngModel)]="item.selected"  value="{{item.id}}" (change)="areAllSelected()" />
                    {{item.value}}
                </li>
            </ul>
        </li>

        <li role="menuitem" dropdown triggers="onclick" placement="bottom left" container="body">
            <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">Price:
                <span class="caret"></span>
            </a>
            <ul *dropdownMenu  role="menu" class="list-group">
                <div class="container">
                <li  role="menuitem" class="list-group-item">
                    Min <input type="number" class="list-group-item min" min="0" max="99999" [(ngModel)]="this.min" value="{{this.min}}" (change)="getCheckedItems()">
                    </li>
                <li  role="menuitem" class="list-group-item">
                    Max <input type="number" class="list-group-item max" min="0" max="99999" [(ngModel)]="this.max" value="{{this.max}}" (change)="getCheckedItems()">
                        </li>
                    </div>
            </ul>
        </li>
        <li role="menuitem" dropdown triggers="onclick" placement="bottom right" container="body">
            <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">Duration:
                <span class="caret"></span>
            </a>
            <ul *dropdownMenu  role="menu" class="list-group">
                <div class="container">
                <li  role="menuitem" >
                    Min <input type="number" class="list-group-item min" min="0" max="20" [(ngModel)]="this.minDay" value="{{this.minDay}}" (change)="getCheckedItems()">
                    </li>
                <li  role="menuitem" >
                    Max <input type="number" class="list-group-item max" min="0" max="20" [(ngModel)]="this.maxDay" value="{{this.maxDay}}" (change)="getCheckedItems()">
                        </li>
                    </div>
            </ul>
        </li>
    </ul>
</div>

<div class="browse-tour-container">
    <div fxLayout="row wrap" fxLayoutGap="16px grid">
        <div *ngFor="let tour of tours; let i = index">
            <mat-card class="browse-tour-card">
                <img class="browse-tour-card-img" src="{{tour.thumbnail}}"/>

                <mat-card-header class="browse-tour-card-header">
                    <mat-card-title>
                        <h3>
                            {{tour.tour}}
                        </h3>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class="browse-tour-card-info">
                    <div class="browse-tour-card-price">
                        <b>Price:</b> {{getFormattedPrice(tour.price)}}
                    </div>
                    <div class="browse-tour-card-duration">
                        <b>Duration:</b> {{tour.duration}}
                    </div>

                    <div class="browse-tour-card-description">
                        {{tour.description}}
                    </div>
                </mat-card-content>

                <mat-card-actions class="browse-tour-card-actions" valign="bottom">
                    <button mat-button class="btn btn-primary browse-tour-card-learn" [routerLink]="['../detail', tour.id]">
                        Learn More!
                    </button>
                    <button class="btn btn-default browse-tour-card-add">
                        <a [routerLink]="['../cart']" (click)="addTourToCart(tour);">
                            <fa-icon [icon]="faShoppingCart"></fa-icon>
                        </a>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>