
<div style="width: 80%; height: 90%; margin:auto auto;">
</div>


<div class="btn-group" dropdown [insideClick]="true">
    <button 
        id="button-nested"
        dropdownToggle type="button"
        class="btn btn-primary dropdown-toggle"
        aria-controls="dropdown-nested">
        Filter
        <span class="caret"></span>
    </button>
    <ul 
        id="dropdown-nested"
        *dropdownMenu
        class="dropdown-menu"
        role="menu"
        aria-labelledby="button-nested">
        <li role="menuitem" dropdown triggers="mouseover" placement="bottom right" container="body">
            <a dropdownToggle class="dropdown-item dropdown-toggle" (click)="false">Country
                <span class="caret"></span>
            </a>
            <ul *dropdownMenu  class="list-group" role="menu">
                <li  role="menuitem" class="list-group-item">
                    <input  class="dropdown-item" type="checkbox" [(ngModel)]="allSelected" name="list_name" value="m1" (change)="checkOrUncheckAll()" />
                    <strong>
                        All
                    </strong>
                </li>
                <li role="menuitem" class="list-group-item " *ngFor="let item of items" >
                    <input  class="dropdown-item" type="checkbox" [(ngModel)]="item.selected"  value="{{item.id}}" (change)="areAllSelected()" />
                    {{item.value}}
                </li>
            </ul>
        </li>
    </ul>
</div>


<div class="row" style="margin-top:20px;">
    <div *ngFor="let tour of tours; let i = index">
        <div class="clearfix" *ngIf="i % 4 ==0"></div>
        <div class="col-md-6">
            <div class="card tour-card flex-row flex-wrap">
                <div class="card-horizontal">
                    <img class="thumbnail" src={{tour.thumbnail}} />
                    <div class="container">
                        <div class="row-lg-12 no-gutters">
                            <div class="card-body">
                                <div class="col">
                                    <h3 class="card-title tour-card-title">
                                        <b>Title:</b> {{tour.tour}}
                                    </h3>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-6">
                                        <h3 class="card-text">
                                            <b>Price:</b> {{getFormattedPrice(tour.price)}}
                                        </h3>
                                    </div>
                                    <div class="col-md-6">
                                        <h3 class="card-text">
                                            <b>Duration:</b> {{tour.duration}}
                                        </h3>
                                    </div>    
                                </div>
                            </div>
                            <p class="card-text tour-card-description">
                                <b>Description:</b>{{tour.description}}
                            </p>
                        </div>
                        
                        <div class="row">
                            <div class="col"></div>
                            <div class="col-lg-6">
                            <a href="#" class="btn btn-primary " [routerLink]="['../detail', tour.id]">
                            Learn More!
                        </a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>